# Xcode

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
/profile
*.moved-aside

#Application

.DS_Store
node_modules
bower_components
access_logs.db
npm-debug.log

#iOS Specific folders
platforms/ios/www/*
!platforms/ios/www/cordova.js
!platforms/ios/www/cordova_plugins.js
!platforms/ios/www/phonegap.js
!platforms/ios/www/plugins

#Android Specific folders
