# Xcode

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
/profile
*.moved-aside

# Application

.DS_Store
node_modules
bower_components
access_logs.db
npm-debug.log
plugins/*
www/*
!www/config.xml

# Comment after prepare the project
platforms/*

# Recomment after prepare the project

#platforms/android/assets/www
#!platforms/android/www/cordova.js
#!platforms/android/www/cordova_plugins.js
#!platforms/android/www/phonegap.js
#!platforms/android/www/plugins

#platforms/ios/www/*
#!platforms/ios/www/cordova.js
#!platforms/ios/www/cordova_plugins.js
#!platforms/ios/www/phonegap.js
#!platforms/ios/www/plugins

